*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

header{
    width: 100%;
    height: 74px;
    display: flex;
    background-color: #0e091b;
    color: white;
    justify-content: space-between;
    padding-left: 38px;
    padding-right: 42px;
    align-items: center;
    border-bottom: solid rgb(230, 230, 252) 1px;
    
}

body{
    background-color: #0e091b;
}
header ul{
    display: flex;
    list-style: none;
}

header ul a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding-left: 18px;
    padding-right: 18px;
}

#banner-topo{
    width: 100%;
    height: 400px;
    background-color: #0e091b;
    display: flex;
    justify-content: center;
}


#banner-topo .banner-left{
    width: 40%;
    color: white;
    padding-top: 80px;
}

#banner-topo .banner-right{
    width: 40%;
    color: white;
    padding-top: 80px;
}

#banner-topo .banner-left .btn{
    width: 44%;
    color: white;
    padding: 16px;
    background-color: #0e091b;
    margin: auto;
    border: rgb(12, 12, 179) solid 1px;
    border-radius: 8px;
    background-image: linear-gradient(to right, #140d27, #3e2679);
    font-weight: 800;
    margin-top: 20px;
}